.btn {
    font-family: $NeutraText;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: $primaryBrown;
    background: #fff;
    padding: 14px 60px;
    width: 100%;
    border-radius: 60px;
    border-width: 0;
    cursor: pointer;
    transition: 0.3s;

    @include breakpoint-up('md') {
        font-size: 18px;
        line-height: 22px;
        justify-content: flex-start;
        padding: 19px 100px;
        max-width: max-content;
    }

    &.secondary {
        background: $primaryGreen;
        color: #fff;

        svg {
            path {
                fill: #fff;
            }
        }

        &:hover {
            background: #fff;
            color: $primaryBrown;
    
            svg {
                path {
                    fill: $primaryBrown;
                }
            }
        }
    }

    &:hover {
        background: $primaryGreen;
        color: #fff;

        svg {
            path {
                fill: #fff;
            }
        }
    }

    span:last-child {
        margin-left: 20px;
    }
}

.react-datepicker {
    font-family: $NeutraText;
    background: #A0B0D2;

    &__week {
        height: 30px;
        display: flex;
        align-items: center;
    }

    &__day {
        color: #fff;
        margin: 0 0.166rem;

        &--selected,
        &--keyboard-selected {
            background: #C2CDC6;
        }
    }
}