[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.btn {
  font-family: $NeutraTextDemi;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: $primaryBrown;
  background: #fff;
  padding: 14px 20px;
  width: 100%;
  border-radius: 60px;
  border-width: 0;
  cursor: pointer;
  transition: 0.3s;

  @include breakpoint-up('md') {
    font-size: 18px;
    line-height: 22px;
    justify-content: flex-start;
    padding: 19px 100px;
    max-width: max-content;
  }

  svg {
    path {
      transition: 0.3s;
    }
  }

  &.secondary {
    background: $primaryGreen;
    color: #fff;

      svg {
          path {
              fill: #fff;
          }
      }

      @include breakpoint-up('md') {
        &:hover {
            background: #fff;
            color: $primaryBrown;

            svg {
                path {
                    fill: $primaryBrown;
                }
            }
        }
      }
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;
    opacity: 0.7;
  }

  &.full-width {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }

  @include breakpoint-up('md') {
    &:hover {
      background: $primaryGreen;
      color: #fff;

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  span + span {
    margin-left: 20px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.link {
  font-family: $NeutraText;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: $primaryGreen;
  border-bottom: 1px solid $primaryGreen;
  border-width: 0 0 1px 0;
  cursor: pointer;
}

.react-datepicker {
  font-family: $NeutraText;
  background: #a0b0d2;

  &__week {
    height: 30px;
    display: flex;
    align-items: center;
  }

  &__day {
    color: #fff;
    margin: 0 0.166rem;

    &--selected,
    &--keyboard-selected {
      background: #c2cdc6;
    }

    &__day {
        color: #fff;
        margin: 0 0.166rem;

        &--selected,
        &--keyboard-selected {
            background: #C2CDC6;
        }
    }
  }
}

.text-align--center {
  text-align: center;
}
