:root {
    --menuBackground: #E7EBF4;
    --menuItemHover: #123A8F;
    --megaMenuLinkBackground: #ffffff;
}

.main-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: relative;
    z-index: 10;
    background: #fff;

    * {
        color: $primaryBrown;
    }

    // display: none!important;

    @include breakpoint-up('md') {
        display: flex;
    }

    @include breakpoint-up('xl') {
        display: flex;
    }

    &:before {
        content: "";
        position: absolute;
        width: 550px;
        height: 450px;
        background: #fff;
        border-radius: 100%;
        left: 50%;
        top: -280px;
        transform: translateX(-50%);
    }

    &__logo {
        width: 225px;
        position: relative;
        max-height: 96px;
        transform: translateY(40px);
        cursor: pointer;
        z-index: 7;

        img {
            max-height: 96px;
            width: 100%;
            object-fit: cover;

            @include breakpoint-up('sm') {
                max-height: 96px;
            }
        }
    };

    &__left,
    &__right {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 11;
    }

    &__left {
        justify-content: flex-start;
        width: calc(50% - 205px);
        z-index: 11;
    }

    &__right {
        justify-content: flex-end;
        width: calc(50% - 205px);
    }

    &__item {
        position: relative;
        cursor: pointer;
        transition: 0.3s;
        color: #3D3331;
        font-family: $NeutraText;

        @include breakpoint-up('md') {
            font-size: 18px;
            line-height: 21px;
            padding: 14px;
        }

        &.active {
            z-index: 11;
        }

        &:hover {
            color: var(--menuItemHover);
        }

        &:last-of-type {
            padding-right: 0;
        }

        a {
            cursor: pointer;
            text-decoration: none;
            transition: 0.3s;
            color: #3D3331;
            font-family: $NeutraText;

            &:hover {
                color: var(--menuItemHover);
            }
        }
    }

    &__item-search {
        position: relative;
        right: 15px;
        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__search {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 100px;
        width: 0;
        transition: 0.3s;
        opacity: 0;
        pointer-events: none;
        max-width: 520px;
        z-index: 10;

        &.active {
            width: calc(100% - 110px);
            opacity: 1;
            pointer-events: inherit;
        }

        input {
            background: #FFFFFF;
            border: 1px solid #F4EAEB;
            border-radius: 60px;
            height: 48px;
            width: 100%;
            min-width: 250px;
            max-width: 340px;
            padding: 0 30px;
            font-family: $NeutraTextDemi;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 19px;
            letter-spacing: 0.02em;
            color: $primaryBrown;
            padding: 0 55px 0 30px;
        }
    }

    &__dropdown {
        position: absolute;
        width: 280px;
        background: #fff;
        margin: 0;
        padding: 60px 20px 20px;
        left: -25px;
        top: 34px;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        list-style: none;

        &.show {
            opacity: 1;
            pointer-events: initial;
        }

        li {
            padding: 3px 0;
            color: #3D3331;

            @include breakpoint-up('md') {
                font-size: 18px;
                line-height: 21px;
            }

            &:not(:first-child) {
                margin-top: 20px;
            }

            &:hover {
                color: #123A8F;
            }
        }
    }
}
