.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    &__overlay {
        width: 100vw;
        position: absolute;
        height: 100vh;
        left: 0;
        top: 0;
        opacity: 0.5;
        background: #000;
        filter: blur(0px);
        opacity: 0;
        transition: 0.3s;
        opacity: 0.3;
        z-index: 998;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
    }

    &__content {
        position: relative;
        width: 100%;
        max-width: 575px;
        padding: 0 30px;

        @include breakpoint-up('md') {
            padding: 0;
        }
    }

    &__close {
        position: absolute;
        right: 40px;
        top: 10px;
        cursor: pointer;

        @include breakpoint-up('md') {
            right: 10px;
        }
    }
}