.page-404 {
    min-height: 600px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 600px;
    }

    h3 {
        margin-bottom: 20px;
    }

    button {
        margin-top: 20px;
    }
}