.collection-grid {
    padding-top: 140px;
    padding-bottom: 140px;

    &__wrapper {
       
        @include breakpoint-up('md') {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    &__content {
        margin-bottom: 30px;
    }

    &__header {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 34px;
        color: #3D3331;

        @include breakpoint-up('md') {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 5px;
        }

        @include breakpoint-up('lg') {
            font-size: 48px;
            line-height: 48px;
        }
    } 

    &__subheader {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: #3D3331;
        margin-top: 15px;

        @include breakpoint-up('md') {
            
            font-size: 22px;
            line-height: 30px;
        }
    }
}

@keyframes colorfultext {
    to {
        background-position: 200% center;
    }
}

.collection-product-card {
    flex-grow: 1;
    width: 100%;
    position: relative;

    @include breakpoint-up('md') {
        width: calc(33% - 30px);
        margin-bottom: 0;

        &.full-width {
            width: calc(50% - 30px);

            .collection-product-card__image {
                // height: 660px;
            }
        }
    }

    &__image {
        // height: 710px;
        border-radius: 3px;
        margin-bottom: 30px;
        animation: colorfultext 2s linear infinite;
        background: radial-gradient(circle farthest-corner, white, #e6e4e4);
        background-size: 200% auto;

        .placeholder {
            height: 710px;
        }

        img {
            // object-fit: contain;
            // object-fit: contain;
            // width: 100% !important;
            // position: relative !important;
            // height: 660px!important;
            // top: 0!important;
            // min-height: auto!important;
            // max-height: auto!important;
        }
    }
}