.collection-cards {
    padding: 40px 0;

    @include breakpoint-up('md') {
        padding: 100px 0;
    }
    &__header {
        margin-bottom: 30px;

        @include breakpoint-up('md') {
            margin-bottom: 90px;
        }
    }

    &__wrapper {

        @include breakpoint-up('md') {
            display: flex;
            justify-content: space-between;
            width: calc(100% + 40px);
            position: relative;
            left: -20px;
        }
    }
}