.content-preview {
    padding: 100px 0;
    overflow: hidden;
    background: #C2CDC6;

    &__content {
        position: relative;
    }

    &__header {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        color: $primaryBrown;
        margin-bottom: 30px;

        overflow: scroll;
        display: flex;

        @include breakpoint-up('md') {
            font-size: 62px;
            line-height: 62px;
            margin-bottom: 80px;
        }

        @media screen and (min-width: 1074px) and (max-width:1439px) {
            margin-bottom: 0px;
        }

        span {
            margin-right: 20px;
            color: rgba(50, 89, 66, 0.3);

            &.active {
                color: rgba(50, 89, 66, 1);
                border-bottom: 1px solid rgba(50, 89, 66, 1);
                font-style: italic;
                padding-bottom: 10px;
            }

            &:last-child {
                margin-right: 20px
            }
        }
    }

    &__subheader {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $primaryBrown;
        margin-bottom: 30px;

        @include breakpoint-up('md') {
            font-size: 18px;
            line-height: 18px;
        }
    }

    &__link {
        @include breakpoint-up('md') {
            position: absolute;
            right: 0;
            bottom: 12px;
        }

        @media screen and (min-width: 1074px) and (max-width:1439px) {
            margin-top: 40px;
            position: relative;
            margin-bottom: 80px;
        }
    }

    &__button {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #3D3331;
        margin-bottom: 30px;

        @include breakpoint-up('md') {
            justify-content: flex-start;
            max-width: max-content;
            margin-bottom: 0px;
        }

        span:last-child {
            margin-left: 20px;
        }
    }

    &__wrapper {
        @include breakpoint-up('md') {
            display: flex;
            justify-content: space-between;
            width: calc(100% + 40px);
            position: relative;
            left: -20px;
        }
    }
}