.experts {
    padding: 70px 0;

    &__header {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    &__subheader {
        text-align: center;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 70px auto 0 ;

        @include breakpoint-up('md') {
            max-width: 1210px;
        }
    }

    &__expert {
        margin-bottom: 60px;
        width: 100%;
        &:last-child {
            margin-bottom: 60px;
        }

        @include breakpoint-up('sm') {
            width: 50%;
            padding: 0 21px;
            &:last-child {
                margin-bottom: 60px;
            }
        }

        @include breakpoint-up('md') {
            padding: 0 42px;
        }
    }

    &__image {
        margin: 0 auto 90px;
        max-width: 520px;

        img {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            border-radius: 100%;

            @include breakpoint-up('lg') {
                object-fit: cover;
            }
        }
    }

    &__name {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: fontsize(26px);
        line-height: 29px;
        letter-spacing: -0.01em;
        color: $primaryBrown;
        position: relative;
        margin-top: 30px;
        text-align: center;
    }

    &__description {
        margin-top: 30px;
        text-align: center;
        max-width: 500px;
        margin: 30px auto;
    }

    &__cta {
        margin-top: 30px;
        cursor: pointer;

        .link {
            margin: 0 auto;
        }
    }
}