.nutrition-chart {
    padding: 70px 0;

    @include breakpoint-up('md') {
        padding: 140px 0;
    }

    &__header {
        text-align: center;
        max-width: 900px;
        margin: 0 auto;
    }

    &__subheader {
        text-align: center;
    }

    &__tabs {
        display: none;

        @include breakpoint-up('md') {
            display: block;
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border: 1px solid rgba(61, 51, 49, 0.2);
            border-radius: 60px;
            max-width: max-content;
            margin: 50px auto 0;
        }   
    }

    &__tab {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: fontsize(16px);
        line-height: 19px;
        letter-spacing: -0.01em;
        color: $primaryBrown;
        position: relative;
        padding: 20px 35px;
        cursor: pointer;

        &.active {
            color: white;
            background: #5B7A68;
            border-radius: 60px;
        }
    }

    .swiper-slide {
        opacity: 0!important;

        &.swiper-slide-active {
            opacity: 1!important;
        }
    }

    &__description {
        max-width: 800px;
        text-align: center;
        margin: 50px auto 70px;
    }

    &__image {
        &--desktop {
            display: none!important;

            @include breakpoint-up('lg') {
                display: block!important;
            }
        }

        &--mobile {
            @include breakpoint-up('lg') {
                display: none!important;
            }
        }

        span {
            padding-top: 0!important;
        }

        img {
            width: 100%;
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}

.nutrition-chart-dropdown {
    margin-top: 30px;

    @include breakpoint-up('md') {
        display: none;
    }

    &__selected {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: fontsize(16px);
        line-height: 19px;
        letter-spacing: 0.15em;
        color: $primaryBrown;
        position: relative;
        padding: 17px 35px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(61, 51, 49, 0.2);
        border-radius: 60px;

        svg {
            transition: 0.3s;
        }

        &.is-open {
            background: #5B7A68;
            color: #fff;
            svg {
                transform: rotateX(180deg);

                path {
                    stroke: #fff
                }
            }

        }
    }

    &__menu {
        display: none;
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: fontsize(16px);
        line-height: 19px;
        letter-spacing: 0.15em;
        color: $primaryBrown;
        padding: 25px;

        &.is-open {
            display: block;
        }
    }

    &__item {
        cursor: pointer;
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}