.wow-and-how {
    padding: 100px 0 100px;
    // background:  #C7E0E5;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        @include breakpoint-up('md') {
            flex-direction: row;
        }
    }

    &__content {
        @include breakpoint-up('md') {
            padding-right: 0px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__image {
        margin-bottom: 50px;

        @include breakpoint-up('md') {
            padding-right: 100px;
            width: 50%;
            margin-bottom: 0;
        }

        &--desktop {
            display: none;

            @include breakpoint-up('md') {
                display: block;
            }

            span {
                span {
                    transform: none;
                }
            }

            span:nth-child(1) {

                transform: translateX(-110px);

                @include breakpoint-up('lg') {
                    transform: translateX(-110px);
                }

                @media screen and (min-width: 1700px) {
                    transform: translateX(-65px);
                }
            }

            span:nth-child(2) {
                transform: translate(380px, -218px);

                @media screen and (min-width: 1700px) {
                    transform: translateX(-40px);
                }
            }

            span:nth-child(3) {
                transform: translate(-255px, 18px);

                @media screen and (min-width: 1700px) {
                    transform: translate(15px, -135px);
                }
            }

            span:nth-child(4) {
                transform: translate(200px, -200px);

                @media screen and (min-width: 1700px) {
                    transform: translate(40px, 20px);
                }
            }
        }

        &--mobile {
            display: block;

            @include breakpoint-up('md') {
                display: none;
            }
        }

        img {
            // height: 350px;
            object-fit: cover;

            @include breakpoint-up('md') {
                // height: 750px!important;
            }
        }
    }

    &__grid {
        @include breakpoint-up('md') {
            position: absolute;
            width: 50vw;
            right: calc( 50% + 170px);
            max-width: 660px;
        }

        @media screen and (min-width: 1250px) {
            right: calc( 50% + 100px);
        }

        @media screen and (min-width: 1700px) {
            position: relative;
            width: auto;
            right: 0;
            max-width: inherit;
        }
    }

    &__header {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 34px;
        color: $primaryBrown;
        margin-bottom: 40px;

        @include breakpoint-up('md') {
            font-size: 62px;
            line-height: 62px;
            margin-bottom: 60px;
        }
    }

    &__subheader {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $primaryBrown;
        margin-bottom: 30px;

        @include breakpoint-up('md') {
            font-size: 18px;
            line-height: 18px;
        }
    }

    &__copy {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: $primaryBrown;
        margin-bottom: 40px;

        @include breakpoint-up('md') {
            font-size: 32px;
            line-height: 35px;
            margin-bottom: 70px;
        }
    }

    &__cta {
        margin-bottom: 40px;

        @include breakpoint-up('md') {
            margin-bottom: 70px;
        }
    }

    &__button {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.02em;
        color: #3D3331;
        background: #fff;
        padding: 14px 60px;
        width: 100%;
        border-radius: 60px;
        cursor: pointer;

        @include breakpoint-up('md') {
            font-size: 18px;
            line-height: 22px;
            justify-content: flex-start;
            padding: 19px 100px;
            max-width: max-content;
        }

        span:last-child {
            margin-left: 20px;
        }
    }

    &__stages {
        display: flex;
        flex-wrap: wrap;
        
        @include breakpoint-up('md') {
            max-width: 740px;
        }   
    }

    &__stage {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #3D3331;
        background: #A1CBD3;
        border-radius: 60px;
        padding: 19px 0;
        margin: 0 20px 20px 0px;
        width: calc(50% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        a {
            cursor: pointer;
            color: $primaryBrown;
        }

        &:nth-child(even) {
            margin: 0 0 20px 0;
        }

        @include breakpoint-up('md') {
            margin: 0 20px 20px 0px;
            width: 150px;

            &:nth-child(even) {
                margin: 0 20px 20px 0px;
            }
        }
    }
}