.wow-and-how {
    padding: 40px 0;

    @include breakpoint-up('md') {
        padding: 100px 0;
    }
    @include breakpoint-up('xl') {
        padding: 144px 0;
    }
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        @include breakpoint-up('md') {
            flex-direction: row;
        }
    }

    &__content {
        @include breakpoint-up('md') {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 50px 0 60px;
        }
    }

    &__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 -60px 50px;
        @include breakpoint-up('md') {
            width: 50%;
            margin: 0 0 0;
            padding: 0 60px 0 50px;
        }
        img {
            object-fit: cover;
        }

        &--desktop {
            display: none;
            @include breakpoint-up('md') {
                display: flex;
            }
        }

        &--mobile {
            @include breakpoint-up('md') {
                display: none
            }
        }
    }

    &__grid {
        @include breakpoint-up('md') {
            display: flex;
            flex-wrap: wrap;
            position: relative;
        }

        .wow-and-how__upper-grid,
        .wow-and-how__lower-grid {
            display: flex;
            width: 100%;
        }

        .wow-and-how__upper-grid {
            .wow-and-how__grid-image:nth-child(1) {
                width: 60%;
                margin: 0 10px 7.5px 0;
                @include breakpoint-up('md') {
                    margin: 0 20px 15px 0;
                }
                .wow-and-how__stars {
                    left: -8%;
                    bottom: 5%;
                    svg {
                        width: 123px;
                    }
                }
            }

            .wow-and-how__grid-image:nth-child(2) {
                width: 27%;
                max-height: 23.5vw;
                margin: auto 60px 7.5px 10px;
                @include breakpoint-up('md') {
                    margin: auto 60px 15px 20px;
                    max-height: 9.5vw;
                }
                .wow-and-how__stars {
                    left: -8%;
                    top: 10%;
                    svg {
                        width: 44px;
                    }
                }
            }
        }

        .wow-and-how__lower-grid {
            .wow-and-how__grid-image:nth-child(1) {
                width: 27%;
                max-height: 26.5vw;
                margin: 7.5px 20px auto 60px;
                @include breakpoint-up('md') {
                    max-height: 11.5vw;
                    margin: 15px 40px auto 60px;
                }
                .wow-and-how__stars {
                    left: 40%;
                    top: -12.5%;
                    svg {
                        width: 54px;
                    }
                }
            }

            .wow-and-how__grid-image:nth-child(2) {
                width: 60%;
                margin: 7.5px 0 0 0;
                @include breakpoint-up('md') {
                    margin: 15px 0 0 0;
                }
                .wow-and-how__stars {
                    left: 3%;
                    top: -7%;
                    svg {
                        width: 123px;
                    }
                }
            }
        }

        .wow-and-how__grid-image {
            position: relative;
            height: 48vw;
            @include breakpoint-up('md') {
                height: 20vw;
            }
        }

        .wow-and-how__stars {
            display: none;
            position: absolute;
            z-index: 1;
            @include breakpoint-up('md') {
                display: block;
            }
        }
    }

    &__header {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        color: $primaryBrown;
        margin-bottom: 40px;

        @include breakpoint-up('md') {
            margin-bottom: 60px;
        }
    }

    &__subheader {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $primaryBrown;
        margin-bottom: 30px;

        @include breakpoint-up('md') {
            font-size: 18px;
            line-height: 18px;
        }
    }

    &__copy {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: $primaryBrown;
        margin-bottom: 40px;

        @include breakpoint-up('md') {
            font-size: 32px;
            line-height: 35px;
            margin-bottom: 70px;
        }
    }

    &__cta {
        margin-bottom: 40px;

        @include breakpoint-up('md') {
            margin-bottom: 70px;
        }
    }

    &__button {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.02em;
        color: #3D3331;
        background: #fff;
        padding: 14px 60px;
        width: 100%;
        border-radius: 60px;
        cursor: pointer;

        @include breakpoint-up('md') {
            font-size: 18px;
            line-height: 22px;
            justify-content: flex-start;
            padding: 19px 100px;
            max-width: max-content;
        }

        span:last-child {
            margin-left: 20px;
        }
    }

    &__stages {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint-up('md') {
            max-width: 568px;
        }
        .select-dropdown-selector {
            width: 100%;
        }
    }

    &__stage {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #3D3331;
        background: #A1CBD3;
        border-radius: 60px;
        padding: 19px 0;
        margin: 0 20px 20px 0px;
        width: calc(50% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: #fff;
        }

        a {
            cursor: pointer;
            color: $primaryBrown;
        }

        &:nth-child(even) {
            margin: 0 0 20px 0;
        }

        @include breakpoint-up('md') {
            margin: 0 20px 20px 0px;
            width: 150px;

            &:nth-child(even) {
                margin: 0 20px 20px 0px;
            }
        }
    }
}