.content-card {
    flex-grow: 1;
    padding: 0 0 30px;

    &:last-child {
        padding: 0;
    }

    @include breakpoint-up('md') {
        // height: 570px;
        padding: 0 18px;
        width: 33.3333%;
        &:last-child {
            padding: 0 18px;
        }
    }

    &__image {
        margin: 0 0 30px;
        position: relative;
        height: 65vw;
        @include breakpoint-up('md') {
            height: 21vw;
        }
        img {
            object-fit: cover;
        }
    }

    &__header {
        position: relative;
        margin: 0 0 10px;
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $primaryBrown;

        @include breakpoint-up('md') {
            font-size: 36px;
            line-height: 43px;
        }
    }

    &__subheader {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $primaryBrown;
        margin-bottom: 20px;

        @include breakpoint-up('md') {
            font-size: 18px;
            line-height: 18px;
        }
    }
}