.diaper-finder-card {
    // max-width: 570px;
    background: #f6f8fc!important;
    border-radius: 3px;
    padding: 48px 20px 35px;
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin: 0 -15px 30px;
    @include breakpoint-up(400px) {
        text-align: center;
    }

    @include breakpoint-up('md') {
        padding: 36px;
        width: calc(33.33% - 13.33px);
        max-width: calc(33.33% - 13.33px);
        margin: 0;
    }


    @include breakpoint-up('lg') {
        width: calc(33% - 20px);
        max-width: calc(33% - 20px);
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    &__content {
        width: 100%;
    }

    &__stage {
        width: 100%;
        display: block;
        max-width: 375px;
        margin: 0 auto;
        @include breakpoint-up('md') {
            max-width: 100%;
        }
    }

    &__subheader {
        margin-bottom: 15px;
    }

    &__header {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 10px;
        @include breakpoint-up('md') {
            margin-bottom: 5px;
        }

        @include breakpoint-up('xl') {
            font-size: 48px;
            margin-bottom: 10px;
        }
    }

    &__copy {
        max-width: 375px;
        margin: 0 auto 30px;

        @include breakpoint-up('md') {
            margin-bottom: 60px;
        }
    }

    &__image {
        margin: 15px 0 20px;
    }

    &__clear {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: $primaryBrown;
        border: none;
        background: none;
        cursor: pointer;
    }

    .btn {
        padding: 14px 20px;
        width: 100%;
        max-width: initial;
        justify-content: center;
        max-width: 380px;
        margin: 0 auto;

        span {
            margin-bottom: 0!important;
        }

        @include breakpoint-up('md') {
            padding: 19px 20px;
        }
    }

    &__form {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;
        color: $primaryBrown;
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid rgba(61, 51, 49, 0.1);

        @include breakpoint-up('xl') {
            font-size: 36px;
            line-height: 50px;
            margin-top: 35px;
            padding-top: 35px;
        }

        input {
            background: transparent;
            font-family: $DomaineText;
            font-weight: 500;
            font-size: 28px;
            line-height: 1;
            color: #A0B0D2;
            border: none;
            border-bottom: 1px dashed #A0B0D2;
            margin-left: 5px;
            @include breakpoint-up('xl') {
                margin-left: 8px;
                font-size: 36px;
                line-height: 50px;
            }

            &[name="weight"] {
                width: 40px;
                text-align: right;
            }
        }

        .input-wrapper {
            display: flex;
            @include breakpoint-up(400px) {
                justify-content: center;
            }
            @include breakpoint-up('xl') {
                flex-direction: row;
            }

            &:not(:first-child) {
                margin-top: 20px;
                @include breakpoint-up('xl') {
                    margin-top: 30px;
                }
            }

            &.weight {
                max-width: 350px;
                margin: 30px auto 0;
                @include breakpoint-up('xl') {
                    max-width: 100%;
                }
            }

            &.weight,
            &.birthday {
                margin: 0 0 20px;
            }


            span {
                margin-bottom: 0;
            }
        }

        .react-datepicker {
            font-family: $NeutraText;
            background: #A0B0D2;
            font-size: 1.2rem;

            &__week {
                height: 35px;
                display: flex;
                @include breakpoint-up(400px) {
                    align-items: center;
                }
            }

            &__day {
                color: #fff;
                margin: 0 0.166rem;

                &--selected,
                &--keyboard-selected {
                    background: #C2CDC6;
                }
            }
        }

        .react-datepicker-wrapper {
            width: max-content;
            input {
                width: 125px;
            }
        }

        .react-datepicker-popper {
            z-index: 2;
        }

        .suffix {
            font-family: $DomaineText;
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;
            color: #A0B0D2;
            margin-left: 5px;
            @include breakpoint-up('xl') {
                font-size: 36px;
                line-height: 50px;
            }
        }

        ::placeholder {
            color: #A0B0D2;
        }

        :-ms-input-placeholder {
            color: #A0B0D2;
        }

        ::-ms-input-placeholder {
            color: #A0B0D2;
        }

    }


}