$DomaineText: 'DomaineText';
$DomaineTextItalic: 'DomaineTextItalic';
$NeutraText: 'NeutraText';
$NeutraTextItalic: 'NeutraTextItalic';
$NeutraTextDemi: 'NeutraTextDemi';
$NeutraTextDemiItalic: 'NeutraTextDemiItalic';
