.product-main {
    padding: 100px 0 0px;

    &__container {
        //padding: 0 0 70px;

        @include breakpoint-up('md') {
            display: flex;
            padding: 0 0 100px;
        }
    }

    .product-detail-tabs {
        background: #F4EAEB;
        padding: 70px 0 70px;

        @include breakpoint-up('md') {
            padding: 140px 0 140px;
        }
    }
}

@import './ProductGallery.scss';
@import './ProductInfo.scss';
@import './ProductTechnologyCallout.scss';
@import './ProductAbout.scss';
@import './ProductIngredients.scss';
@import './ProductFiftyFifty.scss';
@import './ProductCrossSells.scss';
@import './ProductReviews.scss';