.product-quickview {
  background: #f5f2f2;
  height: 735px;
  max-height: 85vh;
  overflow-y: auto;
  padding: 36px 30px;
  overflow-x: hidden;
  @extend .container;

  @include breakpoint-down('md') {
    width: 100%;
  }

  @include breakpoint-up('md') {
    display: flex;
    max-width: 1175px;
    width: 100%;
  }

  .product-gallery {
    @include breakpoint-up('md') {
      margin-right: 30px;
      width: 50%;
      display: block;
    }
  }

  .product-info__sticky {
    @include breakpoint-down('md') {
      display: flex;
      flex-direction: column;

      .product-info__reviews {
        order: 1;
      }

      .product-info__title {
        order: 2;
      }

      .product-info__description {
        order: 4;
        font-size: 18px;
      }

      .product-info__price {
        order: 3;
      }

      .product-form {
        order: 5;
      }
    }
  }

  .product-info {
    @include breakpoint-up('md') {
      width: 50%;
    }
  }

  .product-form {
    padding: 20px 0 20px;
    margin-top: 20px;
  }

  .product-form__count {
    padding: 0 0 20px;
    margin-bottom: 20px;
  }

  .product-form__submit.btn {
    @include breakpoint-down('md') {
      padding: 14px 30px;
    }
  }

  .product-form__input-wrapper {
    label {
      br {
        display: block;
      }

      span {
        padding-left: 27px;
      }

      @include breakpoint-up('md') {
        font-size: 18px;

        span {
          padding-left: 30px !important;
        }
      }
    }
  }

  .product-info__title {
    padding: 20px 0 0;
    font-size: 28px;

    @include breakpoint-up('md') {
      font-size: 42px;
    }
  }

  .product-info__description {
    font-size: 22px;
    line-height: 31px;
    padding: 10px 0 0;
  }

  .product-info__price {
    font-size: 18px;
    line-height: 25px;
    padding: 10px 0 0;

    @include breakpoint-up('md') {
      font-size: 26px;
      line-height: 29px;
    }
  }

  .product-message,
  .product-tabs {
    display: none;
  }

  .product-form__label {
    .calculator {
      display: none;
    }
  }

  .product-form__label,
  .product-form__count {
    font-size: 18px;
    line-height: 25px;
  }

  .product-form__label {
    @include breakpoint-down('md') {
      font-size: 14px;
    }
  }
}
