.product-main {
    padding: 100px 0 0px;
    &__container {
        display: flex;
        padding: 0 0 140px
    }
}

@import './ProductGallery.scss';
@import './ProductInfo.scss';
@import './ProductTechnologyCallout.scss';
@import './ProductAbout.scss';
@import './ProductCrossSells.scss';
@import './ProductReviews.scss';