@font-face {
    font-family: 'DomaineText';
    src: url('./DomaineDisplayMedium/DomaineDisp-Medium.otf');
}

@font-face {
    font-family: 'DomaineTextItalic';
    src: url('./DomaineDisplayMedium/DomaineDisp-MediumItalic.otf');
}

@font-face {
    font-family: 'NeutraText';
    src: url('./NeutraTextBookAlt/NeutraTextBookAlt.otf');
}

@font-face {
    font-family: 'NeutraTextItalic';
    src: url('./NeutraTextBookAlt/NeutraTextBookItalicAlt.otf');
}

@font-face {
    font-family: 'NeutraTextDemi';
    src: url('./NeutraTextDemiAlt/NeutraTextDemiAlt.otf');
}

@font-face {
    font-family: 'NeutraTextDemiItalic';
    src: url('./NeutraTextDemiAlt/NeutraTextDemiItalicAlt.otf');
}