.article-sources {
    padding: 0 0 60px;
    
    &__title {
        font-family: $NeutraTextDemi;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 31px;
        letter-spacing: -0.01em;;
        color: $primaryBrown;
        margin: 0 0 30px;
    }   

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: block;
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 31px;
        letter-spacing: -0.01em;;
        color: $primaryBrown;
        text-decoration: underline;
        margin: 0 0 5px;
    }
}