.article-video {
    padding: 60px 0 80px;
    position: relative;

    &__video {
        width: 100%!important;
        height: 650px!important;
    }

    &__icon {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(-50% - 22px));
    }
    
    &__image {
        position: absolute;
        width: 100%;
        height: 650px;

        &--desktop {
            display: none!important;

            @include breakpoint-up('md') {
                display: block!important;
            }
        }

        &--mobile {
            @include breakpoint-up('md') {
                display: none!important;
            }
        }

        span {
            padding-top: 0!important;
        }

        img {
            width: 100%;
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }

    &__icon, 
    &__image {
        opacity: 1;
        transition: 0.3s;

        &.hide {
            opacity: 0;
            pointer-events: none;
        }
    }
}