.article {
  &__container {
    max-width: 1375px;

    margin: 0 auto;
    position: relative;
    z-index: 1;

    @include breakpoint-up('md') {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

.article-content {
  margin: 40px 0;
  padding: 0 28px;
  h5 {
    margin-bottom: 16px;
    @include breakpoint-up('md') {
      margin-bottom: 40px;
    }
  }

  h6 {
    font-family: $NeutraTextDemi;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.01em;
    color: $primaryBrown;
    margin-bottom: 20px;
    text-transform: none;

    @include breakpoint-up('md') {
      font-size: 26px;
      line-height: 31px;
    }
  }

  blockquote {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 30px;
    * {
      font-family: $NeutraTextDemi;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 110%;
      letter-spacing: -0.01em;
      color: $primaryBrown;

      @include breakpoint-up('md') {
        font-size: 26px;
        line-height: 31px;
        margin-left: 0;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -30px;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: $primaryGreen;
    }
  }

  p {
    font-family: $NeutraText;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: $primaryBrown;
    margin-bottom: 10px;

    b {
      font-weight: bold;
    }

    a {
      color: $primaryGreen;
    }

    @include breakpoint-up('md') {
      font-size: 22px;
      line-height: 31px;
      margin-bottom: 20px;
    }
  }

  p + h6 {
    padding-top: 20px;
  }

  p + p {
    padding-top: 20px;
  }

  li {
    font-family: $NeutraText;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: $primaryBrown;
    list-style: none;
    margin-bottom: 20px;
    position: relative;
    padding-left: 26px;

    @include breakpoint-up('md') {
      font-size: 22px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 6px;
      height: 6px;
      background-color: $primaryBrown;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
    }
  }
}
