.article-social-wrap {
  @include breakpoint-up('md') {
    position: sticky;
    top: 50px;
    left: -30px;
    align-self: flex-start;

    transform: translateX(-80px);
  }
}

.article-sectionsContent {
  @include breakpoint-up('md') {
    margin-left: -80px;
  }
}

.article-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  padding: 20px 28px;
  gap: 22px;
  z-index: 10;

  @include breakpoint-up('md') {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    gap: 36px;
    padding: 30px 0;
    width: 80px;
    flex-direction: column;
  }

  &__share {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: $primaryBrown;
    letter-spacing: -0.01em;
    font-family: $NeutraText;

    @include breakpoint-up('md') {
      display: none;
    }
  }
}
